/* body */
body {
  font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

/* fondo de pantall */
.fondo_pantalla {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*background: url(../img/backgrounds/fondo_v2.png?ver=1.0);*/
  background-size: cover;/* cubre toda la pagina */
  overflow: hidden; /* no tenga ningun scroll w y h */
  z-index: -1;
  /*background-color: #2d2d2d; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Panel 55px*/
.inner-bg { padding-top: 110px; /*padding-top: 55px 0 150px 0;*/ }

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {
  /*.inner-bg { padding: 55px 0 110px 0; }*/
  .inner-bg { padding-top: 110px; padding-left: 90px;}
}

@media (min-width: 768px) and (max-width: 991px) {
  /*.inner-bg { padding: 55px 0 110px 0; }*/
  .inner-bg { padding-top: 110px; padding-left: 110px;}
}

@media (min-width: 576px) and (max-width: 767px) {
  /*.inner-bg { padding: 55px 0 110px 0; }*/
  .inner-bg { padding-top: 110px; padding-left: 110px; padding-right: 110px;}
  /*.inner-bg { padding-top: 110px; }*/
}

@media (max-width: 575px) {
  /*.inner-bg { padding: 55px 0 110px 0; }*/
  .inner-bg { padding-top: 110px; padding-left: 40px;}
}

.panel {
  border-radius: 1px;
}

.panel-default {
  border-color: #FFF;
  border-radius: 15px;
}

.panel-default > .panel-heading {
  color: #FFF;
  background-color: #FFF;
  border-color: #FFF;
  border-radius: 15px;
}

.panel-body {
  padding: 25px;
}

/* button's */
.btn-success {
  border-radius: 8px;
  border-color: #00b8d4;
  background-color: #00b8d4;
  background-image: linear-gradient(20deg,#123bdb,#34f9f9) !important;
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  padding: 15px 0 !important;
}

.btn-success:active,
.btn-success:hover,
.btn-success:focus {
  border-color: #08c7e5 !important;
  background-color: #08c7e5 !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2) !important;
}

.btn-primary {
  border-radius: 8px;
  border-color: #007bff;
  background-color: #007bff;
  background-image: linear-gradient(20deg,#007bff,#0cbaef) !important;
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  padding: 15px 0 !important;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  border-color: #007bff !important;
  background-color: #007bff !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2) !important;
}

/* input's */
input[type="text"],
input[type="email"], 
input[type="password"] {
  float: left;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-addon{
  border-bottom: 1px solid transparent;
  border-left: 0 solid transparent;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-addon-focus{
  color: #007bff;
  transition: all .3s;
}

.has-success .input-group-addon {
  color: #007bff;
  border-bottom: 1px solid transparent;
  border-left: 0 solid transparent;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
}

.has-success .form-control {
  border-color: #00b8d4;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-error .input-group-addon {
  color: #a94442;
  border-bottom: 1px solid transparent;
  border-left: 0 solid transparent;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
}

.has-error .form-control {
  border-color: #a94442 !important;
  webkit-box-shadow: inset 0 1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent;
}

.has-error .form-control:focus {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
}

.has-success .form-control:focus {
  border-color: #29c7d8 !important;
  webkit-box-shadow: inset 0 1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent;
}

.has-success .form-control:focus {
  border-color: #29c7d8;
  box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
}

.field-icon {
  float: right;
  margin-left: -17px;
  margin-top: -17px;
  position: relative;
  z-index: 2;
}

/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: visible;
  z-index: 99;
  clear: both;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');
}

div.footerNode {
  margin: 0;
  float: right;
}

div.footerNode a, div.footerNode span {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
}

.div-ocultar {
  display: none;
}

.bg-image {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image:  url(../img/backgrounds/fondo_automotriz.jpg?ver=1.0);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  box-shadow: 14px 0 20px 5px rgb(145, 143, 143);
  border-color: transparent;
}

.panel {
  background-color: transparent;
}

.panel-default{
  padding: 15%;
  border-color: transparent;
}

.img-logo { 
  height: 20vh;
}

/* RESPONSIVE */

@media (max-width: 992px) {
}

@media(min-width: 768px ) and (max-width: 991px){
  .bg-image {
    display: none;
  }

  .row-login-logo{
    margin-top: 10%;
  }
}

@media (max-width: 767px) {
  .bg-image {
    display: none;
  }

.panel-default{
  padding: 10%;
}
}

@media (max-width: 576px) {
  .bg-image {
    display: none;
  }
.panel-default{
  padding: 0%;
}
}