/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:auto;
}

body{font-weight: bold;font-size:14px;font-family:Arial;}
#boceto{position:absolute;top:0;left:0;}
#container{width:800px;height:600px;border:1px solid red;position:absolute;top:0;left:0;}
.absolute{position:absolute;background:rgba(255, 128, 128, 0.4);cursor:move;padding:4px;}
.text-right{text-align:right;}

.margin{position:absolute;height:100%;width:50px;top:0;background:rgba(255, 128, 128, 0.4);display:none;}
.margin-left{left:0;}
.margin-right{right:0;}

#detalle {display:table;width:auto;background:none;}
#detalle .row{border-right:1px solid black;float:left;background:rgba(255, 128, 128, 0.4);}
#detalle .row div{padding:4px;}

#TotalLetras{font-size:13px;}

#botones{text-align:right;padding:20px;}
#botones button{background:#EEEEEE;color:#36393D;border-radius:4px;border:1px solid #ccc;padding:10px;cursor:pointer;}
#botones button:hover{background:#ddd;}
