/* Header */
.skin-purple{
  padding-right: 0px !important;
}

.skin-purple .main-header .logo {
  background: -webkit-linear-gradient(left, #1E88E5, #1E88E5);
}

.skin-purple .main-header .navbar .sidebar-toggle:hover {
  background-color: #1565C0;
}

.skin-purple .main-header .navbar {
  background: -webkit-linear-gradient(left, #1E88E5, #00B8D4);
}

.skin-purple .main-header li.user-header {
  background: -webkit-linear-gradient(left, #1E88E5, #00B8D4);
}

.skin-purple .sidebar-menu > li.active > a {
  border-left-color: #29c7d8;
}

.btn-mobile_cerrar_sesion {
  background-color: #c9302c !important;
}

/* Footer */
.modal-header{
  border-bottom: 1px solid transparent;
}

.modal-footer{
  border-top: 1px solid transparent;
}

/* Cargador */
#modal-loader-change {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px transparent;
  height: 98%;/*90*/
  width: 98%;
}

.modal-header-change {
  border-bottom: 1px solid transparent;
}

.modal-content-loader-change {
  background-color: transparent;
  box-shadow: 0 3px 9px transparent;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width:100%;
  margin: 80px auto;
}

@media (max-width: 575px) {
  .loader{
    margin: 250px auto;
  }
}

@-webkit-keyframes ball-triangle-path-1 {
  33% {
    -webkit-transform: translate(25px, -50px);
            transform: translate(25px, -50px); }
  66% {
    -webkit-transform: translate(50px, 0px);
            transform: translate(50px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-1 {
  33% {
    -webkit-transform: translate(25px, -50px);
            transform: translate(25px, -50px); }
  66% {
    -webkit-transform: translate(50px, 0px);
            transform: translate(50px, 0px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes ball-triangle-path-2 {
  33% {
    -webkit-transform: translate(25px, 50px);
            transform: translate(25px, 50px); }
  66% {
    -webkit-transform: translate(-25px, 50px);
            transform: translate(-25px, 50px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-2 {
  33% {
    -webkit-transform: translate(25px, 50px);
            transform: translate(25px, 50px); }
  66% {
    -webkit-transform: translate(-25px, 50px);
            transform: translate(-25px, 50px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes ball-triangle-path-3 {
  33% {
    -webkit-transform: translate(-50px, 0px);
            transform: translate(-50px, 0px); }
  66% {
    -webkit-transform: translate(-25px, -50px);
            transform: translate(-25px, -50px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-3 {
  33% {
    -webkit-transform: translate(-50px, 0px);
            transform: translate(-50px, 0px); }
  66% {
    -webkit-transform: translate(-25px, -50px);
            transform: translate(-25px, -50px); }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

.ball-triangle-path {
  position: relative;
  -webkit-transform: translate(-29.994px, -37.50938px);
          transform: translate(-29.994px, -37.50938px); }
  .ball-triangle-path > div:nth-child(1) {
    -webkit-animation-name: ball-triangle-path-1;
            animation-name: ball-triangle-path-1;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .ball-triangle-path > div:nth-child(2) {
    -webkit-animation-name: ball-triangle-path-2;
            animation-name: ball-triangle-path-2;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .ball-triangle-path > div:nth-child(3) {
    -webkit-animation-name: ball-triangle-path-3;
            animation-name: ball-triangle-path-3;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .ball-triangle-path > div {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    position: absolute;
    z-index:1051;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #8bfcf2;
    border: 5px solid #8bfcf2; }
    .ball-triangle-path > div:nth-of-type(1) {
      top: 50px; }
    .ball-triangle-path > div:nth-of-type(2) {
      left: 25px; }
    .ball-triangle-path > div:nth-of-type(3) {
      top: 50px;
      left: 50px; }

/* Menu Lateral Izquierdo */
.skin-purple .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Inpu'ts */
.form-control {
  border-radius: .25rem;
}

/* Content */
.content-wrapper {
  background-color: #fafafa;
}

/* Section */
.ol-breadcrumb {
  padding: 14px 20px !important;
  font-size: 12px !important;
  color: #263238 !important;
  margin-bottom: 10px !important;
  box-sizing: border-box !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03) !important;
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03) !important;
  -ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03) !important;
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03) !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03) !important;
  position: unset !important;
  top: 15px !important;
  right: 10px !important;
  float: none !important;
}

.breadcrumb>.active>a {
  color: #29c7d8 !important;
}

/* Content */
section.content {
  background: #fff;
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #FAFAFA, #f1f1f1);
  background: -moz-linear-gradient(top, #FAFAFA, #f1f1f1);
  background: -ms-linear-gradient(top, #FAFAFA, #f1f1f1);
  background: -o-linear-gradient(top, #FAFAFA, #f1f1f1);
  background: linear-gradient(top, #FAFAFA, #f1f1f1);
}

.div-content-header {
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 10px;
}

.div-content-header :after {
  content: "";
  width: 50px;
  height: 5px;
  left: 0px;
  bottom: -1px;
  position: absolute;
  background-color: #263238;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
  border-radius: 50px !important;
}

.box-content {
  background-color: #fcfcfc !important;
  background: #fcfcfc !important;
}

.box {
  border-top: 0px solid #fcfcfc;
  box-sizing: border-box;
  padding: 15px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
  -ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.04);
  background: -webkit-linear-gradient(top, #FAFAFA, #f1f1f1);
  background: -moz-linear-gradient(top, #FAFAFA, #f1f1f1);
  background: -ms-linear-gradient(top, #FAFAFA, #f1f1f1);
  background: -o-linear-gradient(top, #FAFAFA, #f1f1f1);
  background: linear-gradient(top, #FAFAFA, #f1f1f1);
}

.box-header-new {
  margin-top: -30px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 0px;
}

.div-Filtros {
  margin-left: -3px;
}

div.bottom {
  border-top: 1px solid #FFF !important;
  margin-top: 0px !important;
}

/* Span */
.label-success,
.label-warning,
.label-danger {
  padding: 3px 6px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

/* Table */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 13px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table thead tr th {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#ececec;
}

.table.table-bordered td, .table.table-bordered th {
  border: 1px solid #FAFAFA;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  position: absolute;
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.table.table-striped tbody tr:nth-of-type(even) {
  background-color:#ececec;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}

div.bottom{
  border-top: 1px solid #EBEBEB;
  padding-top: 20px;
  margin-top: 20px;
}

/* Autocomplete */
.autocomplete-suggestions {
  text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
  /* core styles should not be changed */
  position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}

.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

/* Style Input's */
.input-Mayuscula {text-transform: uppercase;}

/* Color para campos advertencia */
.label-advertencia {color: #d9534f;}

.color_icon_excel {color: #5cb85c;}
.color_icon_pdf {color: #d9534f;}

.buttons-colvis, .buttons-html5 {background-color: #FAFAFA;}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
  background-color: #222d32;
}

.dropdown-menu > .active > a:hover {
  background-color: #1E88E5;/*#1E88E5*/
}

.dropdown-menu > li > a:hover {
  background-color: #1E88E5;
  color: #fff;
}

/* paginador */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  border-color: #00a65a;
  background-color: #00a65a;
}

.field-icon {
  float: right;
  margin-left: -17px;
  margin-top: -17px;
  position: relative;
  z-index: 2;
}

.modal-body {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

#table-Lista_Precio {
  width: 100% !important;
}

#table-Lista_Precio_Producto {
  width: 100% !important;
}

/* POS Style */
.scroll_img_pos {
  height: 340px;
  overflow-y: auto;
}

.scroll {
  height: 120px;
  overflow-y: auto;
}

.thumbnail-pos-images {
  height: 100px !important;
}

.li-item_pos{
  height: 120px;
}

/* ALL Button 3 y 4 */
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  background-color: transparent;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/***** Formato Ticket Media queries *****/
#div-formato_ticket, #div-ticket_comanda_lavado, #div-formato_liquidacion_caja {
  width: 360px !important;
}

#table-modal_ticket, #modal-table-ticket_comanda_lavado {
  font-size: 11.5px;
  font-family: Arial;
  color: #303030 !important;
  font-weight: normal;
}

.table-hover > thead > tr > td,
.table-hover > tfoot > tr > td{
  padding: 1px;
  border: 0px solid transparent !important;
}

/* Formato table alert */
.table.table-bordered tr.tr-danger td {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

.table.table-bordered tr.tr-success td {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

/* Image Dropzone */
.div-dropzone {
  border: 2px dashed #ddd !important;
  border-radius: 5px;
}

.dz-message{
  color: #999;
}

.dz-message:hover{
  color: #464646;
}

/* modificado el 06/05/2020*/

.dropzone .dz-preview .dz-image {
  width: 100% !important;
  height: 100% !important;
}

.dropzone .dz-preview .dz-image img {
  display: block;
  height: 120px;
}

/* GOOGLE MAPS */
#map {
  height: 110px;
}

.pac-container {
  background-color: #FFF;
  z-index: 9000;
  position: fixed;
  display: inline-block;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: #444;
}

tags.form-control {
  height: auto;
}